export RAILS_ENV=production

{% for host in groups['redis'] %}
export REDIS_HOST={{hostvars[host]['ansible_eth0']['ipv4']['address']}}
export REDIS_URL=redis://{{hostvars[host]['ansible_eth0']['ipv4']['address']}}:6379/0
{% endfor %}

{% for host in groups['postgres'] %}
export POSTGRES_HOST={{hostvars[host]['ansible_eth0']['ipv4']['address']}}
{% endfor %}
export POSTGRES_PASS={{postgres_db_password}}

export AWS_BUCKET={{aws_bucket}}
export AWS_ACCESS_KEY_ID={{aws_access_key_id}}
export AWS_SECRET_ACCESS_KEY={{aws_secret_access_key}}

export SMTP_ADDRESS={{smtp_address}}
export SMTP_PORT={{smtp_port}}
export SMTP_USERNAME={{smtp_username}}
export SMTP_PASSWORD={{smtp_password}}
export SMTP_AUTHENTICATION={{smtp_authentication}}

export FACEBOOK_APP_ID={{facebook_app_id}}
export FACEBOOK_APP_SECRET={{facebook_app_secret}}

export SECRET_TOKEN={{secret_token}}
export SECRET_KEY_BASE={{secret_key_base}}

{% if 'app' in group_names %}
export UNICORN_WORKERS={{unicorn_workers}}
{% endif %}
